.wrapper {
  padding: 10px;
  min-height: 50%;
  margin: 10px;
}

.application {
  background: red;
  height: 500px;
}

.users {
  background: blue;
}

.users-index {
  background: green;
}

.users-new {
  background: yellow;
}

